<div class="style">
  <div class="container">
    <div class="row">
      <div class="col-5">
        if you have any question - please contact me via the contact form
      </div>
      <div class="col">
        <button type="button" class="btn btnStyle">get in touch</button>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer style="background-color: #0B0B0B; padding-top: 60px;">
  <div class="container" style=" color: white;">
    <div class="row nav-size">
      <div class="col-3">ABOUT US</div>
      <div class="col-3">CONTACT ME</div>
      <div class="col-3">LATEST TWISTS</div>
      <div class="col-3">IMPORTANT LINKS</div>
    </div>
    <div class="row mt-4 info-size">
      <div class="col-3 aboutMe">
        Lorem ipsum dolores siteoj ametdase, consectetur adipiscing elit. Maecenas commodo quam sit dejo.
        <div class="row">
          <a class="nav-link" href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="nav-link" href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="nav-link" href="#">
            <i class="fab fa-google-plus-g"></i>
          </a>
          <a class="nav-link" href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="col-3 contactMe">
        <i class="fas fa-phone-alt"></i> 123-456-7890
        <br>
        <i class="fas fa-map-marker-alt mt-3"></i> 8 Fleet St, London
        <br>
        <i class="far fa-clock mt-3"></i> Daily, 10:00am - 10:00pm
      </div>
      <div class="col-3 latestTwists">
        <i class="fab fa-twitter"></i> Donnec matteos leo sattalec
        <br>
        <p class="ml-3">05.02.2019</p>

        <i class="fab fa-twitter"></i> Donnec matteos leo sattalec
        <br>
        <p class="ml-3">18.02.2019</p>
      </div>

      <div class="col-3 importantLinks">
        <a href="">Home</a>
        <br>
        <a href="">Programs</a>
        <br>
        <a href="">About</a>
        <br>
        <a href="">News</a>
        <br>
        <a href="">Contacts</a>
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->
