<mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/photos/5.jpg">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/photos/9.jpg">
  </mdb-carousel-item>
</mdb-carousel>

<!--<img src="../../../assets/photos/9.jpg" width="100%" alt="">-->

<div class="card-body" style="background-color: ghostwhite;">
  <div class="container section">
    <div class="mt-5 myPrograms">
      MY PROGRAMS
    </div>

    <div class="container-fluid">
      <div class="mt-4">
        <div class="row">
          <div class="column">
            <div class="wrap">
              <img src="../../../assets/photos/7.jpg" width="100%">
              <div class="centered">BAG WORK</div>
            </div>
            <div class="text-center mt-3 price">$10.00</div>
            <div class="text-center">per hour</div>
            <p class="text-center mt-3 description">There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered alteration in some form
            </p>
            <div class="text-center">
              <button type="button" class="btn btnStyle">LEARN MORE</button>
            </div>
          </div>

          <div class="col-1"></div>

          <div class="column">
            <div class="wrap">
              <img src="../../../assets/photos/6.png" width="100%">
              <div class="centered">BOXING PAD WORK</div>
            </div>
            <div class="text-center mt-3 price">$18.00</div>
            <div class="text-center">per hour</div>
            <p class="text-center mt-3 description">There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered alteration in some form
            </p>
            <div class="text-center">
              <button type="button" class="btn btnStyle">LEARN MORE</button>
            </div>
          </div>

          <div class="col-1"></div>

          <div class="column">
            <div class="wrap">
              <img src="../../../assets/photos/8.jpg" width="100%">
              <div class="centered">CONDITIONING & STRENGTH</div>
            </div>
            <div class="text-center mt-3 price">$25.00</div>
            <div class="text-center">per hour</div>
            <p class="text-center mt-3 description">There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered alteration in some form
            </p>
            <div class="text-center">
              <button type="button" class="btn btnStyle">LEARN MORE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
