<!--BEGIN Slide section-->
<mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/photos/5.jpg">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/photos/9.jpg">
  </mdb-carousel-item>
</mdb-carousel>
<!--END Slide section-->

<!--BEGIN My Programs section-->
<div class="card-body" style="background-color: ghostwhite;">
  <div class="container mb-5 section">
    <div class="mt-5 myPrograms">
      MY PROGRAMS
    </div>

    <div class="container-fluid">
      <div class="mt-4">
        <div class="row">
          <div class="column">
            <div class="wrap">
              <img src="../../../assets/photos/7.jpg" width="100%">
              <div class="centered">BAG WORK</div>
            </div>
            <div class="text-center mt-3 price">$10.00</div>
            <div class="text-center">per hour</div>
            <p class="text-center mt-3 description">There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered alteration in some form
            </p>
            <div class="text-center">
              <button type="button" class="btn btnStyle">LEARN MORE</button>
            </div>
          </div>

          <div class="col-1"></div>

          <div class="column">
            <div class="wrap">
              <img src="../../../assets/photos/6.png" width="100%">
              <div class="centered">BOXING PAD WORK</div>
            </div>
            <div class="text-center mt-3 price">$18.00</div>
            <div class="text-center">per hour</div>
            <p class="text-center mt-3 description">There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered alteration in some form
            </p>
            <div class="text-center">
              <button type="button" class="btn btnStyle">LEARN MORE</button>
            </div>
          </div>

          <div class="col-1"></div>

          <div class="column">
            <div class="wrap">
              <img src="../../../assets/photos/8.jpg" width="100%">
              <div class="centered">CONDITIONING & STRENGTH</div>
            </div>
            <div class="text-center mt-3 price">$25.00</div>
            <div class="text-center">per hour</div>
            <p class="text-center mt-3 description">There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered alteration in some form
            </p>
            <div class="text-center">
              <button type="button" class="btn btnStyle">LEARN MORE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END My Programs section-->

<!--BEGIN Amenities section-->
<div class="card-body amenities">
  <div class="container mt-4 mb-4">
    <p class="mt-4" style="font-size: 25px; color: white; font-weight: bold;">AMENITIES</p>

    <!--    BEGIN First row -->
    <div class="row">
      <div class="col-1">
        <div class="circle">
          <i class="fas fa-dumbbell"></i>
        </div>
      </div>

      <div class="col-3">
        <p class="title">OCTAGON</p>
        <p class="info">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
          interested.</p>
      </div>

      <div class="col-1">
        <div class="circle">
          <i class="fas fa-dumbbell"></i>
        </div>
      </div>

      <div class="col-3">
        <p class="title">RING</p>
        <p class="info">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
          interested.</p>
      </div>

      <div class="col-1">
        <div class="circle">
          <i class="fas fa-dumbbell"></i>
        </div>
      </div>

      <div class="col-3">
        <p class="title">BAG ROOM</p>
        <p class="info">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
          interested.</p>
      </div>
    </div>
    <!--    END First row-->

    <!--    BEGIN Second row-->
    <div class="row mt-4">
      <div class="col-1">
        <div class="circle">
          <i class="fas fa-dumbbell"></i>
        </div>
      </div>

      <div class="col-3">
        <p class="title">STRENGTH EQUIPMENT</p>
        <p class="info">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
          interested.</p>
      </div>

      <div class="col-1">
        <div class="circle">
          <i class="fas fa-dumbbell"></i>
        </div>
      </div>

      <div class="col-3">
        <p class="title">CARDIO EQUIPMENT</p>
        <p class="info">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
          interested.</p>
      </div>

      <div class="col-1">
        <div class="circle">
          <i class="fas fa-dumbbell"></i>
        </div>
      </div>

      <div class="col-3">
        <p class="title">FREE WEIGHT ROOM</p>
        <p class="info">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
          interested.</p>
      </div>
    </div>
    <!--    END Second row-->
  </div>
</div>
<!--END Amenities section-->

<!--BEGIN Info section -->
<div class="news mt-5 mb-4">
  <div class="container">
    <div class="row">

      <div class="col-4">
          <span class="title">LATEST NEWS</span>
          <p class="topic mt-4" *ngFor="let news of latestNews">
            <img src="{{ news.img }}" alt="">
            {{ news.title }}
            <br>
            <br>
            <br>
            <br>
            <span class="date">{{ news.publishDate }}</span>
          </p>
      </div>

      <div class="col-4">
          <p class="title">PROGRAMS RATING</p>
        <div *ngFor="let review of programRating">
          <p class="topic mt-4">
            <img src="{{ review.img }}" alt="">
            {{ review.title }}
            <br>
            <br>
            <br>
            <br>
            <i class="fa fa-star star-inactive"
               [ngClass]="{'star-active':  review.rating > 0.5}"
            ></i>
            <i class="fa fa-star star-inactive"
               [ngClass]="{'star-active':  review.rating > 1.5}"
            ></i>
            <i class="fa fa-star star-inactive"
               [ngClass]="{'star-active':  review.rating > 2.5}"
            ></i>
            <i class="fa fa-star star-inactive"
               [ngClass]="{'star-active':  review.rating > 3.5}"
            ></i>
            <i class="fa fa-star star-inactive"
               [ngClass]="{'star-active':  review.rating > 4.5}"
            ></i>
          </p>
        </div>
      </div>

      <div class="col-4">
        <div>
          <p class="title">VIDEO</p>
          <iframe width="516" height="300" src="https://www.youtube.com/embed/ZM_8-c1EqOY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END Info section-->
