.section {
  height: 400px;
  width: 100%;
  clear: both;
}

/* Container holding the image and the text */
.wrap {
  position: relative;
  text-align: center;
  color: white;

  img {
    filter: brightness(38%);
  }
}

.myPrograms {
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Centered text */
.centered {
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 55%;
  }
}

* {
  box-sizing: border-box;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #0a0011;
  margin: 1em 0;
  padding: 0;
}

/* Create three equal columns that floats next to each other */
.column {
  width: 27.7%;
  height: 320px;
  background-color: #ffffff;

  .price {
    font-size: 30px;
    font-weight: bold;
  }

  .description {
    font-size: 12px;
  }

  .btnStyle {
    border-radius: 20px;
    border: 2px solid orangered;
    font-size: 13px;
    font-weight: bold
  }
}

/* Clear floats after the columns */
.row:after {
  display: table;
  clear: both;
}

.carousel-item {
  .active,
  .carousel-item-right,
  .carousel-item-next {
    display: flex !important;
  }

}

.amenities {
  background-color: black;
  font-family: inherit;

  .circle {
    color: #ff5400;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid #ff5400;
    font-size: 23px;
  }

  .title {
    color: white;
    font-size: 12px;
  }

  .info {
    color: white;
    font-size: 9px;
    letter-spacing: 1px;
    font-weight: lighter;
  }
}

.news {
  .title {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  img {
    height: 80px;
    float: left;
    margin-right: 10px;
  }

  .topic {
    font-size: 10px;
    font-weight: bold;
  }

  .date {
    color: dimgrey;
    font-size: 10px;
    font-weight: bold;
  }

  .fa-star {
    font-size: 13px;
  }

  .star-active {
    color: #FDCC0D !important;
  }

  .star-inactive {
    color: lightgrey;
  }
}
