<!--BEGIN Slide section-->
<mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/photos/5.jpg">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../../assets/photos/9.jpg">
  </mdb-carousel-item>
</mdb-carousel>
<!--END Slide section-->

<!--BEGIN My Programs section-->
<div class="card-body" style="background-color: ghostwhite;">
  <div class="container mb-5 section">
    <div class="mt-5 myPrograms">
      MY PROGRAMS
    </div>

    <div class="container-fluid">
      <div class="mt-4">
        <div class="row">
          <div class="column">
            <div class="wrap">
              <img src="../../../assets/photos/7.jpg" width="100%">
              <div class="centered">BAG WORK</div>
            </div>
            <div class="text-center mt-3 price">$10.00</div>
            <div class="text-center">per hour</div>
            <p class="text-center mt-3 description">There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered alteration in some form
            </p>
            <div class="text-center">
              <button type="button" class="btn btnStyle">LEARN MORE</button>
            </div>
          </div>

          <div class="col-1"></div>

          <div class="column">
            <div class="wrap">
              <img src="../../../assets/photos/6.png" width="100%">
              <div class="centered">BOXING PAD WORK</div>
            </div>
            <div class="text-center mt-3 price">$18.00</div>
            <div class="text-center">per hour</div>
            <p class="text-center mt-3 description">There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered alteration in some form
            </p>
            <div class="text-center">
              <button type="button" class="btn btnStyle">LEARN MORE</button>
            </div>
          </div>

          <div class="col-1"></div>

          <div class="column">
            <div class="wrap">
              <img src="../../../assets/photos/8.jpg" width="100%">
              <div class="centered">CONDITIONING & STRENGTH</div>
            </div>
            <div class="text-center mt-3 price">$25.00</div>
            <div class="text-center">per hour</div>
            <p class="text-center mt-3 description">There are many variations of passages of Lorem Ipsum
              available, but the majority have suffered alteration in some form
            </p>
            <div class="text-center">
              <button type="button" class="btn btnStyle">LEARN MORE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END My Programs section-->

<!--BEGIN Amenities section-->
<div class="card-body amenities" style="background-color: black; ">
  <div class="container mt-4 mb-4">
    <p class="mt-4" style="font-size: 25px; color: white; font-weight: bold;">AMENITIES</p>

    <!--    BEGIN First row -->
    <div class="row">
      <div class="col-1">
        <div class="circle">
          <i class="fas fa-dumbbell"></i>
        </div>
      </div>

      <div class="col-3">
        <p class="title">OCTAGON</p>
        <p class="info">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
          interested.</p>
      </div>

      <div class="col-1">
        <div class="circle">
          <i class="fas fa-dumbbell"></i>
        </div>
      </div>

      <div class="col-3">
        <p class="title">RING</p>
        <p class="info">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
          interested.</p>
      </div>

      <div class="col-1">
        <div class="circle">
          <i class="fas fa-dumbbell"></i>
        </div>
      </div>

      <div class="col-3">
        <p class="title">BAG ROOM</p>
        <p class="info">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
          interested.</p>
      </div>
    </div>
    <!--    END First row-->

    <!--    BEGIN Second row-->
    <div class="row mt-4">
      <div class="col-1">
        <div class="circle">
          <i class="fas fa-dumbbell"></i>
        </div>
      </div>

      <div class="col-3">
        <p class="title">STRENGTH EQUIPMENT</p>
        <p class="info">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
          interested.</p>
      </div>

      <div class="col-1">
        <div class="circle">
          <i class="fas fa-dumbbell"></i>
        </div>
      </div>

      <div class="col-3">
        <p class="title">CARDIO EQUIPMENT</p>
        <p class="info">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
          interested.</p>
      </div>

      <div class="col-1">
        <div class="circle">
          <i class="fas fa-dumbbell"></i>
        </div>
      </div>

      <div class="col-3">
        <p class="title">FREE WEIGHT ROOM</p>
        <p class="info">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
          interested.</p>
      </div>
    </div>
    <!--    END Second row-->
  </div>
</div>
<!--END Amenities section-->

<!--BEGIN Info section -->
<div class="news mt-5 mb-4">
  <div class="container">
    <div class="row">

      <div class="col-4">
        <div>
          <p class="title">LATEST NEWS</p>
          <p class="topic mt-4">
            <img src="https://martialartskills.com/wp-content/uploads/2017/12/best-bjj-headgear-e1512192108858.jpeg"
                 alt="">
            How to get stardet with a personal trainer
            <br>
            <br>
            <br>
            <br>
            <span class="date">Jan 21, 2020</span>
          </p>
        </div>

        <div class="mt-4">
          <p class="topic">
            <img src="https://martialartskills.com/wp-content/uploads/2017/12/best-bjj-headgear-e1512192108858.jpeg"
                 alt="">
            How to get stardet with a personal trainer
            <br>
            <br>
            <br>
            <br>
            <span class="date">Jan 21, 2020</span>
          </p>
        </div>

        <div class="mt-4">
          <p class="topic">
            <img src="https://martialartskills.com/wp-content/uploads/2017/12/best-bjj-headgear-e1512192108858.jpeg"
                 alt="">
            How to get stardet with a personal trainer
            <br>
            <br>
            <br>
            <br>
            <span class="date">Jan 21, 2020</span>
          </p>
        </div>
      </div>

      <div class="col-4">
        <div>
          <p class="title">PROGRAMS RATING</p>
          <p class="topic mt-4">
            <img src="https://martialartskills.com/wp-content/uploads/2017/12/best-bjj-headgear-e1512192108858.jpeg"
                 alt="">
            BAG WORK
            <br>
            <br>
          <div class="mt-4">
            <span class="totalScore"></span>
            <i class="fa fa-star star-inactive"
            ></i>
            <i class="fa fa-star star-inactive"
            ></i>
            <i class="fa fa-star star-inactive"
            ></i>
            <i class="fa fa-star star-inactive"
            ></i>
            <i class="fa fa-star star-inactive"
            ></i>

            <span class="ml-2"></span>
          </div>

          <p></p>
        </div>
        <div class="mt-4">
          <p class="topic">
            <img src="https://martialartskills.com/wp-content/uploads/2017/12/best-bjj-headgear-e1512192108858.jpeg"
                 alt="">
            How to get stardet with a personal trainer
            <br>
            <br>
            <br>
            <br>
            <span class="date">Jan 21, 2020</span>
          </p>
        </div>
        <div class="mt-4">
          <p class="topic">
            <img src="https://martialartskills.com/wp-content/uploads/2017/12/best-bjj-headgear-e1512192108858.jpeg"
                 alt="">
            How to get stardet with a personal trainer
            <br>
            <br>
            <br>
            <br>
            <span class="date">Jan 21, 2020</span>
          </p>
        </div>
      </div>

      <div class="col-4">
        <div>
          <p class="title">VIDEO</p>
          <iframe height="270" width="400" class="mt-3" src="https://www.youtube.com/embed/tgbNymZ7vqY">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END Info section-->
