<nav class="navbar navbar-expand" style="background-color: black">
  <div class="container">
    <ul class="navbar-nav  size">

      <li class="nav-item active">
        <a class="nav-link color" href="#">
          <i class="fas fa-phone-alt"></i> 123-456-7890
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link color" href="#">
          <i class="fas fa-map-marker-alt"></i> 8 Fleet St, London
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link color" href="#">
          <i class="far fa-clock"></i> Daily, 10:00am - 10:00pm
        </a>
      </li>
    </ul>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link color" href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link color" href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link color" href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--Second Navigation-->
<nav class="navbar navbar-expand" style="background-color: #ffffff">
  <div class="container">
    <ul class="navbar-nav size">

      <li class="nav-item active">
        <img src="../../../assets/logo/4.png" height="60px" alt="">
      </li>
    </ul>

    <ul class="navbar-nav size">

      <li class="nav-item active">
        <a class="nav-link navColor" href="#">HOME</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link navColor" href="#">PROGRAMS</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link navColor" href="#">ABOUT</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link navColor" href="#">NEWS</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link navColor" href="#">CONTACTS</a>
      </li>
    </ul>
  </div>
</nav>

<img src="../../../assets/photos/5.jpg" width="100%" alt="">
<div class="card-body" style="background-color: ghostwhite;">
  <div class="container section">
    <div class="mt-5">
      <b><h5>MY PROGRAMS</h5></b>
    </div>

    <div class="container-fluid">
      <div class="mt-4">
        <div class="row">
          <div class="column" style="background-color:#ffffff;">
            <div class="wrap">
              <img src="../../../assets/photos/7.jpg" width="100%" style="filter: brightness(38%)">
              <div class="centered">BAG WORK</div>
            </div>
            <div class="text-center mt-3" style="font-size: 30px; font-weight: bold;">$10.00</div>
            <div class="text-center">per hour</div>
            <p class="text-center mt-3" style="font-size: 12px">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>

            <div class="text-center">
            <button type="button" class="btn "
                    style="border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    border: 2px solid orangered;
                    font-size: 13px;
                    font-weight: bold">LEARN MORE</button>
            </div>

          </div>

          <div class="col-1"></div>

          <div class="column" style=" background-color:#ffffff;">
            <div class="wrap">
              <img src="../../../assets/photos/6.png" width="100%" style="filter: brightness(38%)">
              <div class="centered">BOXING PAD WORK</div>
            </div>
          </div>

          <div class="col-1"></div>

          <div class="column" style=" background-color:#ffffff;">
            <div class="wrap">
              <img src="../../../assets/photos/8.jpg" width="100%" style="filter: brightness(38%)">
              <div class="centered">CONDITIONING & STRENGTH</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

