<!--BEGIN Navbar-->
<nav class="navbar navbar-expand" style="background-color: black">
  <div class="container">
    <ul class="navbar-nav  size">

      <li class="nav-item active">
        <a class="nav-link color" href="#">
          <i class="fas fa-phone-alt"></i> 123-456-7890
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link color" href="#">
          <i class="fas fa-map-marker-alt"></i> 8 Fleet St, London
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link color" href="#">
          <i class="far fa-clock"></i> Daily, 10:00am - 10:00pm
        </a>
      </li>
    </ul>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link color" href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link color" href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link color" href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--END Navbar-->

<!--BEGIN Navigation-->
<nav class="navbar navbar-expand" style="background-color: #ffffff">
  <div class="container">
    <ul class="navbar-nav size">

      <li class="nav-item active">
        <img src="../../../assets/logo/4.png" height="60px" alt="">
      </li>
    </ul>

    <ul class="navbar-nav size">

      <li class="nav-item active">
        <a class="nav-link navColor" href="#">HOME</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link navColor" href="#">PROGRAMS</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link navColor" href="#">ABOUT</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link navColor" href="#">NEWS</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link navColor" href="#">CONTACTS</a>
      </li>
    </ul>
  </div>
</nav>
<!--END Navigation-->

